/* General Settings */

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Titillium+Web&display=swap');

body {
  background-color: #0f0f0f;
  color: #adff2f;
  text-align: center;
  font-family: Titillium Web, Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Variables */

:root {
  --spacing: 1.8vmax;
  --radius: 2px;
  --blur: 10px;
  --base: #ba1ae6;
}

/* Title */

h1 {
  font: 3vmax Bungee Spice, Arial, Helvetica, sans-serif;
  margin: 1.3em;
}

/* Section: controls */

.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .7vmin;
  margin: 2.5vmax;
  font-size: 1.8vmax;
  font-weight: 600;
}

/* Picture */

.image {
  width: 70%;
  height: 65%;
  margin: 1vmax;
  padding: var(--spacing);
  border-radius: var(--radius);
  background-color: var(--base);  
  filter: blur(var(--blur));
  -webkit-filter: blur(var(--blur));
}
