/* General Settings */

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Passion+One&family=Titillium+Web&display=swap');

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 32%, rgba(45,6,62,1) 100%);
  /*background-color: #0f0f0f;*/
  color: #adff2f;
  text-align: center;
  font-family: Titillium Web, Arial, Helvetica, sans-serif;
  margin: 0 0 4vmax;
}

/* Variables */

:root {
  --spacing: 1.5vmax;
  --radius: 10px;
  --blur: 0px;
  --base: #ba1ae6;
}

/* Title */

h1 {
  font: 3vmax Bungee Spice, Arial, Helvetica, sans-serif;
  margin: 1.3em;
}

.h1 {
  font: 4vmax Passion One, Arial, Helvetica, sans-serif;
  color: var(--base);
}

/* Section: controls */

.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .7vmin;
  margin: 2.5vmax;
  font-size: 1.8vmax;
  font-weight: 600;
}

/* Picture */

.image {
  width: 70%;
  height: 65%;
  margin: 1vmax;
  padding: var(--spacing);
  border-radius: var(--radius);
  background-color: var(--base);  
  filter: blur(var(--blur));
  -webkit-filter: blur(var(--blur));
}
